html,body{
    height: 100%;
    font-family: 'Roboto';
}
.floorNavBtn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(200,200,200,0.5);
    color: #ffffff;
    display: block;
    opacity: 0;
    transition: all 0.2s;
}
.floorNavMap{
    position: fixed;
    border-radius: 25px;
    height:0;
    width: 40px;
    background-color: rgba(200,200,200,0.3);
    bottom: 120px;
    right:55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
}
.floorNavMark{
    margin: 12px 15px;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0.2;
    transition: all 0.5s;
}
.floorNavMark:hover{
    transition: all 0.5s;
    cursor: pointer;
}